@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$cream: #faf9f7;
$void: #1f2933;

html {
  @apply .h-full
  .my-0
  .mx-auto
  .p-0;
}

body {
  @apply .text-center
  .text-white
  .my-0
  .mx-auto
  .overflow-x-hidden
  .h-full
  .bg-gray-200;
}

img {
  @apply .min-h-full;
}

h1 {
  font-family: "Lato", sans-serif;

  @apply .font-bold
  .mt-0
  .mr-auto
  .mb-2
  .ml-auto
  .text-2xl;

  @screen md {
    @apply .text-4xl;
  }
}

h2 {
  font-family: "Lato", sans-serif;
  color: $cream;

  @apply .font-light
  .leading-snug
  .text-lg
  .p-0
  .mt-0
  .mr-auto
  .mb-4
  .ml-auto;

  @screen md {
    @apply .text-2xl;
  }

  button,
  a {
    color: $cream;

    @apply .font-medium
    .relative
    .no-underline
    .inline-block;
  }

  button:focus,
  a:focus {
    @apply .outline-none;
  }

  button::before,
  a::before {
    background-color: $cream;
    content: "";
    height: 2px;
    transform: scaleX(0);

    @apply .absolute
    .w-full
    .bottom-0
    .left-0
    .invisible
    .transition
    .ease-in-out
    .duration-300;
  }

  button:hover::before,
  a:hover::before {
    @apply .visible;
    transform: scaleX(1);
  }

  button:focus::before,
  a:focus::before {
    @apply .visible;
    transform: scaleX(1);
  }
}

p {
  font-family: "Merriweather", serif;
  color: $cream;

  @apply .text-lg
  .leading-relaxed
  .font-light
  .m-0;
}

.main {
  @apply .h-screen
  .min-h-full
  .max-w-full
  .overflow-hidden
  .bg-cover;
  background-image: url("images/nhbackground.jpg");
}

.text-wrapper {
  bottom: 50px;
  left: 16px;
  position: absolute;
  right: 0;

  @apply .overflow-hidden
  .m-auto
  .p-2
  .text-white
  .w-11/12
  .text-left;

  @screen md {
    @apply .w-1/3;
    bottom: 100px;
    left: 0;
  }

  .text {
    background: linear-gradient(55deg, rgba($void, 0.8), rgba($void, 0.4));

    @apply .rounded
    .p-2
    .bg-opacity-25;
  }

  .posts {
    @apply .text-center
    .h-auto;

    .post:focus {
      @apply .outline-none;
    }
  }

  .posts h2:last-child {
    @apply .mb-0;
  }
}

.fade-in-upward {
  animation: fadeInUpward 1s;
}

.fade-out-upward {
  animation: fadeOutUpward 1s;
}

.headshot-wrapper {
  @apply .mb-4;

  #headshot {
    @apply .rounded-full
    .h-16
    .w-16;
  }
}

.headshot-wrapper:focus {
  box-shadow: 0px 0px 9px 4px $void;
  @apply .outline-none
  .rounded-full;
}

.social {
  @apply .bg-black
  .py-1
  .px-2
  .rounded-full
  .box-border
  .m-1
  .cursor-pointer
  .opacity-50
  .inline-block
  .transition
  .ease-in-out
  .duration-300;
}

.social:focus {
  @apply .outline-none
  .opacity-100;
}

.social:hover {
  @apply .opacity-100;
}

.github {
  background: #211f1f;
}

.linkedin {
  background: #0072b1;
}

.email {
  background: #d23028;
}

.text-link {
  @apply .text-gray-300
  .border-b-2
  .border-white;
}

.text-link {
  @apply .text-white
  .opacity-100;
}

.fa {
  color: $cream;
}

@keyframes fadeOutUpward {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes fadeInUpward {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
